@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?o7qgj');
  src:  url('../fonts/icomoon.eot?o7qgj#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?o7qgj') format('truetype'),
    url('../fonts/icomoon.woff?o7qgj') format('woff'),
    url('../fonts/icomoon.svg?o7qgj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-music:before {
  content: "\e911";
}
.icon-pacman:before {
  content: "\e916";
}
.icon-book:before {
  content: "\e91f";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-file-music:before {
  content: "\e928";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-folder-download:before {
  content: "\e933";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-phone:before {
  content: "\e942";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-pushpin:before {
  content: "\e946";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-search:before {
  content: "\e986";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-file-pdf:before {
  content: "\eadf";
}
