/* ========== ADD STYLES HERE ========== */

.single {
  .content {
    border: 2px solid darken($color-tertiary, 10%);
  }

  .entry-header {
    text-align: center;
    .entry-title {
      padding: 0 $whitespace-standard;
      margin: 0 auto;
      max-width: 800px;
      border-bottom: 5px solid $color-primary;
    }
    .entry-meta {
      font-size: 1.2rem;
      border-top: none;
      line-height: 2;
    }
  }
}
